/* Styl dla lightboxa */
.lightbox {
    display: none; /* Ukrycie lightboxa na początku */
    position: fixed; /* Pozycja fixowana */
    z-index: 1000; /* Wysoki poziom z-index */
    padding-top: 60px; /* Wypełnienie na górze */
    left: 0; /* Odległość od lewej krawędzi */
    top: 0; /* Odległość od górnej krawędzi */
    width: 100%; /* Szerokość 100% */
    height: 100%; /* Wysokość 100% */
    overflow: auto; /* Dopuszczenie przewijania */
    background-color: rgba(0, 0, 0, 0.9); /* Tło z przezroczystością */
}

/* Styl dla zawartości lightboxa */
.lightbox-content {
    margin: auto; /* Wyśrodkowanie zawartości */
    display: block; /* Wyświetlanie jako blok */
    width: 80%; /* Szerokość 80% */
    max-width: 700px; /* Maksymalna szerokość 700px */
}

/* Styl dla przycisku zamknięcia */
.close {
    position: absolute; /* Pozycja absolutna */
    top: 15px; /* Odległość od górnej krawędzi */
    right: 35px; /* Odległość od prawej krawędzi */
    color: #f1f1f1; /* Kolor tekstu */
    font-size: 40px; /* Rozmiar czcionki */
    font-weight: bold; /* Pogrubienie tekstu */
    transition: 0.3s; /* Efekt przejścia */
}

.close:hover,
.close:focus {
    color: #bbb; /* Zmiana koloru tekstu po najechaniu */
    text-decoration: none; /* Brak podkreślenia */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
}

/* Styl dla elementu wyzwalającego lightbox */
.lightbox-trigger {
    cursor: pointer; /* Zmiana kursora na wskaźnik */
}
